body {
    margin: 0;
    /* убрать отступ браузера*/
    font-family: "Century Gothic", Arial, sans-serif;
    max-width: 1800px;
    /*задаем максимальную ширину и выравниваем                         содержимое страницы по центру                                     при отображении на больших экранах */
    margin: auto;
    background-image: url(../img/bg3.jpg);
}

/*задаем переходы на странице с помощью target*/

#index__content:target {
    display: block;
}

#contacts__content:not(target),
#catalog__content:not(target),
#discount__content:not(target),
#services__content:not(target) {
    display: none;
}

#contacts__content:target {
    display: block;
}

#index__content:not(target),
#catalog__content:not(target),
#discount__content:not(target),
#services__content:not(target) {
    display: none;
}

#catalog__content:target {
    display: block;
}

#contacts__content:not(target),
#index__content:not(target),
#discount__content:not(target),
#services__content:not(target) {
    display: none;
}

#services__content:target {
    display: block;
}

#contacts__content:not(target),
#index__content:not(target),
#discount__content:not(target),
#catalog__content:not(target) {
    display: none;
}

#discount__content:target {
    display: block;
}

#contacts__content:not(target),
#index__content:not(target),
#catalog__content:not(target),
#services__content:not(target) {
    display: none;
}

:not(target)~#index__content {
    display: block;
}

:target~#index__content {
    display: none;
}

#kichen:not(target),
#children_furniture:not(target),
#bedroom:not(target),
#hallway:not(target),
#wardrobe:not(target) {
    display: none;
}

/*переход по каталогу*/

#wardrobe:target {
    display: block;
}

#kichen:not(target),
#children_furniture:not(target),
#bedroom:not(target),
#hallway:not(target) {
    display: none;
}

#kichen:target {
    display: block;
}

#wardrobe:not(target),
#children_furniture:not(target),
#bedroom:not(target),
#hallway:not(target) {
    display: none;
}

#children_furniture:target {
    display: block;
}

#wardrobe:not(target),
#kichen:not(target),
#bedroom:not(target),
#hallway:not(target) {
    display: none;
}

#bedroom:target {
    display: block;
}

#wardrobe:not(target),
#children_furniture:not(target),
#kichen:not(target),
#hallway:not(target) {
    display: none;
}

#hallway:target {
    display: block;
}

#wardrobe:not(target),
#children_furniture:not(target),
#bedroom:not(target),
#kichen:not(target) {
    display: none;
}

/*конец переход по каталогу*/

/*задаем свойства для шапки сайта */

.header {
    background-color: rgba(196, 176, 167, .4);
    box-shadow: 0 0 20px #000;
}

.header__name_text {
    text-transform: capitalize;
    display: inline-block;
    margin: 10px 0 5px 30px;
    font-size: 50px;
    text-shadow: -5px 5px 4px #808080;

}

span {
    color: #8B0000;
    font-weight: 400;
}

.header__number_text {
    float: right;
    font-size: 25px;
    margin: .3em .5em 0 1em;
    /*добавляем анимирование номеру*/
    transition: transform 2s;
}

/*добавляем иконку "телефон"*/

.header__number_text:before {
    color: #8B0000;
    content: "e ";
    font-family: "untitled-font-1";

}

/*анимирование номера при наведении курсора на шапку сайта*/

.header:hover .header__number_text {
    -webkit-transform: translateX(-20px) scale(1.15);
    -ms-transform: translateX(-20px) scale(1.15);
    transform: translateX(-20px) scale(1.15);
}

ul.nav__ul {
    margin: auto;
    /*варавниваем меню по центру*/
    padding: 0;
    text-align: center;
    margin-top: 8px;
    line-height: 32px;
}

li {
    display: inline-block;
    /*располагаем элементы списка в строку*/
    font-size: 25px;
    padding: 3px 5px;
    text-align: center;
    width: 15%;
}

/*задаем свойства элементам списка при наведении на них курсора*/

li:hover {
    box-shadow: 0 0 20px #000;
    cursor: pointer;
}

/* убираем подчеркивание у ссылок и меняем цвет*/

a {
    color: #000;
    text-decoration: none;
    font-size: none;
}

/*создание выпадающего списка*/

.nav__ul_item {
    background-image: url(../img/bg3.jpg);
    display: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    width: 25%;
    z-index: 10;
}

.nav__ul_item li {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    background-color: rgba(196, 176, 167, .4);
    /* background-color: rgba(200, 188, 177, 0.7);*/
}

/*показывать меню при наведении курсора на родительский элемент*/

li:hover>.nav__ul_item {
    display: block;
}

/* начало описания свойств страницы контакты */

.contacts {
    width: 38%;
    display: inline-block;
    margin-top: 5%;
    position: relative;
    top: -100%;
}

#contacts__content>iframe {
    margin: 40px;
    width: 60%;
    height: 40em;
    margin: 0;
    position: relative;
    left: 0%;
    top: -100%;
}

#contacts__content {
    padding: 10px 0;
}

/* конец описания свойств страницы контакты */

/* начало описания преимущества*/

[type=radio] {
    display: none;
}

.section__block1,
.section__block2,
.section__block3,
.section__block4,
.section__block5,
.section__block6 {
    display: inline-block;
    width: 20%;
    margin: 10% 5% 5%;
}

.section__block1 img,
.section__block2 img,
.section__block3 img,
.section__block4 img,
.section__block5 img,
.section__block6 img {
    width: 100%;
}




.section__block4,
.section__block5,
.section__block6 {
    margin-top: 0%;
}

#services__content figcaption {
    display: block;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.block1__material_none,
.block2__furniture_none,
.block3__3d_none,
.block4__delivery_none,
.block5__guarantee_none,
.block6__payment_none {
    display: none;
    color: #fff;

}

#material:checked~.block1__material_none,
#furniture:checked~.block2__furniture_none,
#model:checked~.block3__3d_none,
#delivery:checked~.block4__delivery_none,
#guarantee:checked~.block5__guarantee_none,
#payment:checked~.block6__payment_none {
    display: block;
    position: absolute;
    width: 70%;
    left: 12%;
    top: 25%;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    padding-bottom: 5%;
}

#services__content h1,
#services__content p {
    color: #fff;
}

#delivery:checked~.block4__delivery_none,
#guarantee:checked~.block5__guarantee_none,
#payment:checked~.block6__payment_none {
    top: 100%;

}

/* конец описания преимущества*/

/*начало описания свойств "каталог"*/

#catalog__content h1,
#kichen h1,
#children_furniture h1,
#bedroom h1,
#hallway h1,
#wardrobe h1 {
    color: #000;
    margin-top: 0;
    padding: 30px 0;
    font-size: 40px;
    font-weight: inherit;
}

#catalog__content img,
#kichen img,
#children_furniture img,
#bedroom img,
#hallway img,
#wardrobe img {
    width: 40%;
    height: auto;
    margin: 30px 0 0 20px;

}

.article1__section1_kichen:hover,
.article1__section2_kichen:hover,
.article1__section3_kichen:hover,
.article1__section4_kichen:hover,
.article2__section1_child:hover,
.article2__section2_child:hover,
.article2__section3_child:hover,
.article2__section4_child:hover,
.article2__section5_child:hover,
.article2__section6_child:hover,
.article3__section1_bedroom:hover,
.article3__section2_bedroom:hover,
.article3__section3_bedroom:hover,
.article3__section4_bedroom:hover,
.article4__section1_hallway:hover,
.article4__section2_hallway:hover,
.article4__section3_hallway:hover,
.article5__section1_wardrobe:hover,
.article5__section2_wardrobe:hover,
.article5__section3_wardrobe:hover,
.article5__section4_wardrobe:hover,
.article5__section5_wardrobe:hover {
    box-shadow: 0 0 20px #000;
    margin: 20px;
}

.block_right_catalog {
    float: right;
    width: calc(40% - 50px);
    color: #000;
    margin: 20px 50px 0 0;
    text-align: center;
    font-size: 20px;
}

.article1__section4_kichen:hover,
.article2__section6_child:hover,
.article3__section4_bedroom:hover,
.article4__section3_hallway:hover,
.article5__section5_wardrobe:hover {
    margin-bottom: 0px;
}

/*конец описания свойств "каталог"*/

/*начало описания свойств "акции"*/

#discount__content img:nth-of-type(1), #discount__content img:nth-of-type(5)  {
    width: 60%;
    margin: 5% 20%;
    height: auto;
}
#discount__content img {
    width: 80%;
    margin: 20px 10%;
    box-shadow:  0 0 20px #696969;
  }

#discount__content p {
        margin: 50px auto 0px;
}
#discount__content>iframe {
    width: 60%;
    margin: 10px 20%;
    height: 500px;
}

/*конец описания свойств "акции"*/

/*задаем свойства главной страницы */

#gallery {
    margin: 20px 10% 50px;
}

/* задаем свойства всем абзацам*/

p {
    color: #000;
    font-size: 22px;
    margin: auto;
    text-align: center;
    width: 80%;

}

.article_gradient {
    margin: 50px 0 80px 0;
    padding-top: 20px;
    display: flex;
    background: #f5f5f5;
    background: linear-gradient(to right, #532a2a 0%, #532a2a 14.2857143%, #f5f5f5 14.2857143%, #f5f5f5 28.5714286%, #dcdcdc 28.5714286%, #dcdcdc 42.8571429%, #d3d3d3 42.8571429%, #d3d3d3 57.1428572%, #c0c0c0 57.1428572%, #c0c0c0 71.4285715%, #a9a9a9 71.4285715%, #a9a9a9 85.7142858%, #808080 85.7142858%, #808080 100%);
}

.article__section_1 h1,
.article__section_1 p {
    color: #fff;
}

.article_gradient section {
    color: #662d1c;
    /*-webkit-box-shadow: inset 0 0 20px #dcdcdc;
    box-shadow: inset 0 0 25px #dcdcdc;*/
    width: calc(100% / 7);
}

h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

section>p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    padding: 10px 0 20px;
}

.article__section_1 {
    margin-top: 32px;
}

.article__section_2:before,
.article__section_3:before,
.article__section_4:before,
.article__section_5:before,
.article__section_6:before,
.article__section_7:before {
    font-size: 50px;
    position: relative;
    left: 40%;
    display: block;
    width: 40%;
}

@keyframes one {

    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.article__section_2:hover,
.article__section_3:hover,
.article__section_4:hover,
.article__section_5:hover,
.article__section_6:hover,
.article__section_7:hover {
    animation: one 1s ease;

}

.article__section_2:before {
    content: "D";
    font-family: "untitled-font-1";
}

.article__section_3:before {
    content: "I";
    font-family: "untitled-font-1";
}

.article__section_4:before {
    content: "J";
    font-family: "untitled-font-1";
}

.article__section_5:before {
    content: "G";
    font-family: "untitled-font-1";
}

.article__section_6:before {
    content: "F";
    font-family: "untitled-font-1";
}

.article__section_7:before {
    content: "E";
    font-family: "untitled-font-1";
}

/*   начало описания свойств "слайдер-карусель"    */

#block__carousel a>img {
    width: 17%;
    height: 350px;
    float: left;
    margin: 0 0;
}

#block__slider {
    width: 90%;
    height: 350px;
    border: 4px solid #4e5560;
    margin: auto;
    overflow: hidden;
}

#block__carousel {
    width: 200%;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

#block__carousel::after {
    content: "";
    display: block;
    clear: both;
}

#slider-left,
#slider-right {
    width: 3%;
    height: 3%;
    padding: 0;
    font-size: 40px;
    background-color: rgba(169, 169, 169, .7);
    border-radius: 50%;
    color: #4e5560;
    top: -230px;
    position: relative;
    margin: 10px;
    outline: none;
}

#slider-right {
    right: -90.5%;
}

.carousel__title_center {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}


/*   конец описания свойств "слайдер-карусель"    */

/* задаем свойства форме */

form {
    display: inline-block;
    /*выравниваем по центру и задаем ширину равную шрине контента*/
    margin: 3em auto;
    text-align: center;
    width: 100%;

}

form>p {
    font-size: 30px;
    text-shadow: -5px 5px 4px #a9a9a9;
    text-transform: uppercase;
    font-style: normal;
}

input {
    font-size: 24px;
    margin: 12px 16px;
    padding: 5px;

}


/* свойства кнопки "оформить" */

[type=submit] {
    font: 30px "Century Gothic", arial, sans-serif;
    padding: 10px 50px;
    text-transform: uppercase;
    box-shadow: inset 0 0px 5px #000;

}

[type=submit]:hover {
    border: 2px solid #4e5560;
    box-shadow: inset 0 0 20px #9a9385;

}

/* задаем свойства блокам (рассрочка, гарания, срок службы) */

/*добавляем после заголовка иконочное изображение*/

.article {
    display: flex;
    background: #f5f5f5;
    width: 100%;
    margin: auto;
}

.article__section2_1>h2:before {
    content: "p ";
    font-family: "untitled-font-1";
}

.article__section2_2>h2:before {
    content: "l ";
    font-family: "untitled-font-1";
}

.article__section2_3>h2:before {
    content: "i ";
    font-family: "untitled-font-1";
}

.article__section2_1>h2:before,
.article__section2_2>h2:before,
.article__section2_3>h2:before {
    color: #662d1c;
    font-size: 40px;
}

.article__section2_1,
.article__section2_2,
.article__section2_3 {
    width: calc(100% / 3);
    padding: 5px 0;
    box-shadow: none;
    border: 0px;
}

.article__section2_1:hover,
.article__section2_2:hover,
.article__section2_3:hover {
    border-left: 2px solid #c0c0c0;
    box-shadow: 1px 1px #808080,
    2px 2px #808080,
    3px 3px #808080;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}


h2 {
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;

}

/* задаем свойства подвалу*/

.footer {
    background-color: rgba(196, 176, 167, .4);
    box-shadow: 0 0 20px #000;
}

.footer__name_text {
    margin: 10px 20px;
    font-size: 25px;
    text-transform: capitalize;
}

.footer__number_text {
    font-size: 20px;
    margin: 5px 20px;
}

#footer__mail {
    font-size: 17px;
    margin: 5px 20px;
}

#footer__mail:before {
    font-family: "untitled-font-1";
    content: "f ";
}


@media screen and (max-width: 320px) {
    .header__name_text {
        font-size: 20px;
    }
    .nav__ul_item {
        display: none;
    }
     .nav__ul li:hover .nav__ul_item {
        display: none;}
        
    header>.header__number_text {
        font-size: 20px;
        margin-left: 0;
    }
    form {
        width: 100%;
        margin: 0;
    }

    form>p {
        font-size: 20px;
    }

    form>input {
        width: 70%;
        font-size: 15px;

    }

    [type=submit] {
        font-size: 15px;
        padding: 5px 10px;
    }

    .footer__name_text {
        font-size: 20px;
    }

    .footer__number_text {
        font-size: 20px;
    }

    #footer__mail {
        font-size: 17px;
    }
    footer {
        padding: 0;
        width: 100%;
    }
    .contacts>p {
        padding: 0px;
        margin-left: 10px;
        font-size: 15px;
    }

    .contacts {
        width: 100%;
        display: block;
    }
    #contacts__content>iframe {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .header__name_text {
        font-size: 40px;
    }

    .nav__ul_item {
        display: none;
    }
    .header__number_text {
        float: none;
        font-size: 30px;
        transform: none;
        transition: none;
    }
    .header:hover .header__number_text {
        transform: none;
        transition: none;
    }
    .nav__ul li {
        display: block;
        font-size: 20px;
        width: 100%;
        padding: 0;
    }
 .nav__ul li:hover .nav__ul_item {
        display: none;
 }
    .article__section_1,
    .article__section_2,
    .article__section_3,
    .article__section_4,
    .article__section_5,
    .article__section_6,
    .article__section_7 {
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    .article__section_1 {
        background: #532a2a;
    }
    .article__section_2 {
        background: #f5f5f5;
    }
    .article__section_3 {
        background: #dcdcdc;
    }
    .article__section_4 {
        background: #d3d3d3;
    }
    .article__section_5 {
        background: #c0c0c0;
    }
    .article__section_6 {
        background: #a9a9a9;
    }
    .article__section_7 {
        background: #808080;
    }
    .article_gradient {
        background: none;
        display: flex;
        flex-direction: column;
    }
    .article_gradient section {
        width: 90%;
    }
    .article {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .article__section_2:before,
    .article__section_3:before,
    .article__section_4:before,
    .article__section_5:before,
    .article__section_6:before,
    .article__section_7:before {
        left: 43%;
    }
    .article__section2_1,
    .article__section2_2,
    .article__section2_3 {
        width: 100%;
    }
    .contacts>p {
        text-align: left;
        margin: 10px 10px;
    }
    iframe {
        margin: 10px 10px;
        width: calc(100% - 20px);
        height: 400px;
    }
    .carousel__button_right {
        right: -5%;
        top: 50px;
        position: relative;
    }
    .carousel__li {
        width: 2%;
    }
    input {
        font-size: 20px;
    }

    .section__block1,
    .section__block2,
    .section__block3,
    .section__block4,
    .section__block5,
    .section__block6 {
        width: 100%;
        margin: auto;

    }
    #services__content img {
        width: 60%;
        margin-left: 20%;
    }
    #services__content figcaption {
        font-size: 25px;
        width: 90%;
        text-align: center;
        margin-right: 1%;
    }
    .catalog__content>h1 {
        color: #fff;
    }

    .block1__material_none,
    .block2__furniture_none,
    .block3__3d_none,
    .block4__delivery_none,
    .block5__guarantee_none,
    .block6__payment_none {
        display: block;
        background-color: #000;
        opacity: 0.8;
        padding-bottom: 5%;
    }
    #material:checked~.block1__material_none,
    #furniture:checked~.block2__furniture_none,
    #model:checked~.block3__3d_none,
    #delivery:checked~.block4__delivery_none,
    #guarantee:checked~.block5__guarantee_none,
    #payment:checked~.block6__payment_none {
        display: none;
    }
    .block1__material_none h1,
    .block2__furniture_none h1,
    .block3__3d_none h1,
    .block4__delivery_none h1,
    .block5__guarantee_none h1,
    .block6__payment_none h1 {
        color: #fff;
    }

    #catalog__content img,
    #kichen img,
    #children_furniture img,
    #bedroom img,
    #hallway img,
    #wardrobe img {
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-left: 10%;

    }
    .block_right_catalog {
        width: 80%;
        text-align: center;
        margin-right: 10%;
    }
    #discount__content>iframe {
        display: none;
    }
    #discount__content img {
        width: 80%;
        margin: 5% 10%;
    }
    .contacts>p:nth-of-type(1) {
        margin-top: 0;
    }
    .carousel__title_center,
    #slider-left,
    #slider-right,
    #block__slider {
        display: none;
    }
    .contacts {
        width: 100%;
        display: block;
    }
    #contacts__content>iframe {
        width: 100%;
    }

}

@media screen and (max-width: 720px) {
    .header__number_text {
        float: none;
        font-size: 30px;
        transform: none;
        transition: none;
    }
    .header:hover .header__number_text {
        transform: none;
        transition: none;
    }

    .nav__ul li {
        display: block;
        font-size: 20px;
        width: 100%;
        padding: 0;
    }
    .nav__ul li:hover .nav__ul_item {
        display: none;
    }
    .nav__ul_item {
        display: none;
    }
    .article__section_1,
    .article__section_2,
    .article__section_3,
    .article__section_4,
    .article__section_5,
    .article__section_6,
    .article__section_7 {
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    .article__section_1 {
        background: #532a2a;
    }
    .article__section_2 {
        background: #f5f5f5;
    }
    .article__section_3 {
        background: #dcdcdc;
    }
    .article__section_4 {
        background: #d3d3d3;
    }
    .article__section_5 {
        background: #c0c0c0;
    }
    .article__section_6 {
        background: #a9a9a9;
    }
    .article__section_7 {
        background: #808080;
    }
    .article_gradient {
        background: none;
        display: flex;
        flex-direction: column;
    }
    .article_gradient section {
        width: 90%;
    }
    .article {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .article__section_2:before,
    .article__section_3:before,
    .article__section_4:before,
    .article__section_5:before,
    .article__section_6:before,
    .article__section_7:before {
        left: 43%;
    }
    .article__section2_1,
    .article__section2_2,
    .article__section2_3 {
        width: 100%;
    }
    .contacts>p {
        text-align: left;
        margin: 10px 10px;
    }
    iframe {
        margin: 10px 10px;
        width: calc(100% - 20px);
        height: 400px;
    }

    .section__block1,
    .section__block2,
    .section__block3,
    .section__block4,
    .section__block5,
    .section__block6 {
        width: 100%;
        margin: auto;

    }
    #services__content img {
        width: 50%;
        margin-left: 25%;

    }
    #services__content figcaption {
        margin-right: 1%;
        font-size: 25px;
        width: 90%;
        text-align: center;
    }

    .block1__material_none,
    .block2__furniture_none,
    .block3__3d_none,
    .block4__delivery_none,
    .block5__guarantee_none,
    .block6__payment_none {
        display: block;
        background-color: #000;
        opacity: 0.8;
        padding-bottom: 5%;
    }
    #material:checked~.block1__material_none,
    #furniture:checked~.block2__furniture_none,
    #model:checked~.block3__3d_none,
    #delivery:checked~.block4__delivery_none,
    #guarantee:checked~.block5__guarantee_none,
    #payment:checked~.block6__payment_none {
        display: none;
    }
    .block1__material_none h1,
    .block2__furniture_none h1,
    .block3__3d_none h1,
    .block4__delivery_none h1,
    .block5__guarantee_none h1,
    .block6__payment_none h1 {
        color: #fff;
    }


    #catalog__content img,
    #kichen img,
    #children_furniture img,
    #bedroom img,
    #hallway img,
    #wardrobe img {
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-left: 10%;

    }
    .block_right_catalog {
        width: 80%;
        text-align: center;
        margin-right: 10%;
    }
    #discount__content>iframe {
        display: none;
    }
    #discount__content img {
        width: 80%;
        margin: 5% 10%;
    }
    .contacts>p:nth-of-type(1) {
        margin-top: 0;
    }
    #block__carousel a>img {
        height: 150px;

    }

    #block__slider {
        height: 150px;
    }
    #slider-left,
    #slider-right {
        width: 4%;
        height: 2%;
        font-size: 30px;
        top: -100px;
    }

    #slider-right {
        right: -85%;
    }
    .contacts {
        width: 100%;
        display: block;
    }
    #contacts__content>iframe {
        width: 100%;
    }

}

@media screen and (min-width: 721px) and (max-width: 1200px) {
    .header__name_text {
        margin: 5px 0 2px 20px;
        font-size: 30px;


    }
        .header:hover .header__number_text {
        transform: none;
        transition: none;
    }

    .header__number_text {
        font-size: 20px;
        margin: .2em 0 0 .6em;
    }
    ul.nav__ul {
        margin-top: 6px;
        line-height: 20px;
    }

    li {
        font-size: 14px;
        padding: 3px 3px;
        margin: 0;
    }

    .contacts>p {
        font-size: 18px;
    }
    #services__content figcaption {
        font-size: 15px;

    }
    #material:checked~.block1__material_none,
    #furniture:checked~.block2__furniture_none,
    #model:checked~.block3__3d_none,
    #delivery:checked~.block4__delivery_none,
    #guarantee:checked~.block5__guarantee_none,
    #payment:checked~.block6__payment_none {
        top: 50%;
        font-size: 15px;
        width: 100%;
        left: 0;
        opacity: 0.9;
    }
    #services__content p {
        font-size: 15px;

    }
    #catalog__content h1,
    #kichen h1,
    #children_furniture h1,
    #bedroom h1,
    #hallway h1,
    #wardrobe h1 {
        font-size: 30px;
    }

    .block_right_catalog {
        float: right;
        width: calc(55% - 10px);
        color: #f5f5f5;
        margin: 5px 10px 0 0;
        text-align: center;
        font-size: 14px;
    }
    #catalog__content img,
    #kichen img,
    #children_furniture img,
    #bedroom img,
    #hallway img,
    #wardrobe img {
        width: 35%;

    }
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 14px;

    }
    section>p {
        font-size: 12px;
        margin: 0 1%;
        width: 90%;
    }
    .article__section_2:before,
    .article__section_3:before,
    .article__section_4:before,
    .article__section_5:before,
    .article__section_6:before,
    .article__section_7:before {
        font-size: 30px;
    }

    #block__carousel a>img {
        height: 200px;
    }

    #block__slider {
        height: 200px;
    }

    #slider-left,
    #slider-right {
        font-size: 20px;
        top: -120px;
    }

    #slider-right {
        right: -88.5%;
    }

    .carousel__title_center {
        font-size: 35px;
    }


    form>p {
        font-size: 25px;
    }

    input {
        font-size: 20px;

    }


}
