body {
    margin: 0;
    /* убрать отступ браузера*/
}

.wrapper {
    max-width: 1500px;
    /*задаем максимальную ширину и выравниваем содержимое страницы по центру при отображении на больших экранах */
    margin: auto;
}

/*задаем свойства для шапки сайта */

.header {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    max-width: 1500px;
    padding: 0 5vmin 0 5vmin;
    width: calc(100% - 10vmin);
}

.name {
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 4vmin;
    font: 8vmin "Trebuchet MS", Arial, sans-serif;

}

span {
    color: #D2691E;
}

.number {
    float: right;
    font: 5vmin "trebuchet ms", Helvetica, sans-serif;
    margin: .3em 0 0 1em;
    -webkit-transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    /*добавляем анимирование номеру*/
    transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    -o-transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s, -webkit-transform 2s;
}

/*добавляем иконку "телефон"*/

.number:before {
    color: #D2691E;
    content: "e ";
    font-family: "untitled-font-1";

}

/*анимирование номера при наведении курсора на шапку сайта*/

.header:hover .number {
    font-size: 5.7vmin;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav {
    margin: auto;
    /*варавниваем меню по центру*/
    padding: 0;
    text-align: center;
}

li {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);

    background: -o-radial-gradient(#f5f5f5, #dcdcdc);

    background: radial-gradient(#f5f5f5, #dcdcdc);

    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: inline-block;
    /*располагаем элементы списка в строку*/
    font-size: 4vmin;
    padding: 1vmin;
    text-align: center;
    width: 15%;
}

/* убираем подчеркивание у ссылок и меняем цвет*/

li a {
    color: #000;
    font-family: "Century Gothic", Arial, sans-serif;
    text-decoration: none;
}

/*задаем свойства элементам списка при наведении на них курсора*/

li:hover {
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    cursor: pointer;
}

/*создание выпадающего списка*/

.sub-menu {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);

    background: -o-radial-gradient(#f5f5f5, #dcdcdc);

    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    width: 25%;
}

.sub-menu li {
    width: 100%;
    text-align: left;
    font-size: 4vmin;
}

/*показывать меню при наведении курсора на родительский элемент*/

li:hover>.sub-menu {
    display: block;
}

/*задаем свойства основной части -контенту */

.content {
    background-image: url(../img/bg1.jpg);
    border-top: 3px solid #D2691E;
    margin-top: 0;

}

.map {
    width: 80%;
    margin: auto;
}

.content p {
    text-align: left;
    text-transform: none;

}

footer {
    width: calc(100% - 10vmin);
    max-width: 1500px;
    margin: auto;
    background: radial-gradient(#f5f5f5, #dcdcdc);
    padding: 0 5vmin 0 5vmin;
    box-shadow: inset 0 0 50px #c0c0c0;
    border-bottom: 10px solid #D2691E;
}

footer>.name {
    margin: 0;
}

#mail {
    font-size: 4vmin;
    margin: 2vmin 0;
}

#mail:before {
    font-family: "untitled-font-1";
    content: "f ";
}

footer>.number:hover {
    transition: none;
    transform: none;
    font-size: 5vmin;
}



@media screen and (max-width: 480px) {
    .number {
        float: none;
        margin: 0;
    }
    .header:hover .number {
        transform: none;
        transition: none;
    }




}


@media screen and (max-width: 760px) {
    .name {
        margin-left: 1em;
    }
    .number {
        margin-right: 0;
    }
    .header:hover .number {
        transform: none;
        transition: none;
        font-size: 5vmin;
    }
    li {
        margin-left: 0;
        display: block;
        width: 40%;
        font-size: 3vmin;
    }
    ul.nav {
        margin-left: 0;
    }
    ul.sub-menu {
        margin-left: 36%;
        margin-top: -6.5vmin;
    }
    .sub-menu li {
        font-size: 3vmin;
    }

    footer>.number {
        float: none;
        margin: 0;
    }
}


@media screen and (min-width: 1500px) {
    .name {
        font-size: 4vmin;
        margin-left: .1em;
    }
    .number {
        font-size: 2.5vmin;
        margin: .3em 0;
    }
    .header:hover .number {
        font-size: 3vmin;
        transform: translateX(-20px);
    }
    li,
    .sub-menu li {
        margin: auto;
        padding: .5vmin;
        font-size: 2vmin;
    }

    footer {
        padding: 0 1vmin 0 1vmin;
        width: calc(100% - 2vmin);

    }

    footer>.name {
        margin: 0;
    }

    #mail {
        font-size: 2vmin;
        margin: 2vmin 0;
    }

    #mail:before {
        font-family: "untitled-font-1";
        content: "f ";
    }

}