header {
    height: 15vh;
    width: calc(100% - 4vmin);
    max-width: 2300px;
    background: radial-gradient(#f5f5f5, #dcdcdc);
    padding: 2vmin;
    box-shadow: inset 0 0 50px #a9a;
    position: relative;
}


.number {
    color: #000;
    right: 2.5vmin;
    font-size: 5vmin;
    margin-top: 2vmin;
    font-family: Helvetica, sans-serif;
    position: absolute;
    transition: transform 2s, font-size 2s, margin-top 2s;
}

.number:before {
    font-family: "untitled-font-1";
    content: "e ";
}

header:hover .number {
    transform: translateX(-20px);
}

.name {
    text-transform: capitalize;
    color: #000;
    font-size: 7vmin;
    display: inline-block;
    position: absolute;
    left: 15vmin;
    font-family: "franklin gothic medium", arial, calibri;

}



ul {
    position: absolute;
    left: 20vmin;
    top: 6vmin;
    font-size: 4vmin;
}


li {
    color: #fff;
    padding: 1vmin 2vmin;
    font-family: Helvetica, arial, sans-serif;
    display: block;
    border-right: 1px solid #000;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    float: left;


}

li a {
    color: #fff;
    text-decoration: none;
}

li:hover {
    background: #800000;
    box-shadow: inset 0 0 30px #800, inset 0 0 20px #000, inset 0 10px 1px #8b0000;
}

.menu {
    position: absolute;
    display: none;
    background-color: #8b0000;
    margin-left: 6vmin;
    padding: 0;
}

li:hover>.menu {
    display: block;
    width: 45vmin;


}


.li:hover {
    transition: box-shadow 2s, transform 2s;
}

li:hover>ul>li {
    float: none;
}





.content {
    background-image: url(../img/bg2.jpg);

}

.gallery {
    height: 70vh;
    width: 80%;
    background-color: grey;
    margin: auto;
    clear: both;

}
/*
p {
    clear: both;
}

.sale img,
.new img {
    margin-left: 13.3%;
    width: 30%;
    display: inline-block;
    float: left;
}

div>a {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, arial, sans-serif;
    text-align: center;
}


.content div:nth-of-type(5) {
    display: inline-block;
    left: 40vw;
    top: -47vh;
}

.pro img {
    height: auto;
    width: 20%;
}

.content h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vw;
}

.content div:nth-of-type(5),
:nth-of-type(6),
:nth-of-type(7) {
    display: inline-block;
    width: 25%;
    height: 45vh;
    font-family: Helvetica, arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 2vw 2% 0 1vw;
    font-size: 3vmin;


}


footer {
    height: 8vh;
    width: 96%;
    max-width: 1300px;
    margin: auto;
    background: radial-gradient(#8b0000, #800000);
    padding: 2vmin;
    box-shadow: inset 0 0 40px #000000;
    position: relative;
}

footer>.name {
    font-size: 6vh;
}


#mail {
    color: #fff;
    left: 40%;
    font-size: 5vh;
    margin-top: 2vh;
    font-family: Helvetica, sans-serif;
    position: absolute;

}

#mail:before {
    font-family: "untitled-font-1";
    content: "f ";

}

footer>.number:hover {
    transition: none;
    transform: none;
    font-size: 5vh;
    margin-top: 2vmin;
}



/*

@media screen and (max-width: 320px) {
    header {
        font-size: 50%;
        width: 100%;
    }
    content {
        background: none;
        height: 130%;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }
    img {
        display: none;
    }


    ul {
        display: inline;

    }

    footer {
        font-size: 100%;
    }
}

*/