body {
    margin: 0;
    /* убрать отступ браузера*/
    font-family: "Century Gothic", Arial, sans-serif;
}

wrapper {
    max-width: 1800px;
    /*задаем максимальную ширину и выравниваем содержимое страницы по центру при отображении на больших экранах */
    margin: auto;
}

/*задаем свойства для шапки сайта */

.header {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    max-width: 1500px;
    width: 100%;
}

.header__name_text {
    text-transform: capitalize;
    display: inline-block;
    margin: 10px 0 5px 30px;
    font-size: 50px;
    text-shadow: -5px 5px 4px #a9a9a9;

}

span {
    color: #D2691E;
}

.header__number_text {
    float: right;
    font-size: 25px;
    margin: .3em 0 0 1em;
    -webkit-transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    /*добавляем анимирование номеру*/
    transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    -o-transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s, -webkit-transform 2s;
}

/*добавляем иконку "телефон"*/

.header__number_text:before {
    color: #D2691E;
    content: "e ";
    font-family: "untitled-font-1";

}

/*анимирование номера при наведении курсора на шапку сайта*/

.header:hover .header__number_text {
    font-size: 30px;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav__ul {
    margin: auto;
    /*варавниваем меню по центру*/
    padding: 0;
    text-align: center;
    margin-top: 8px;
}

li {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: inline-block;
    /*располагаем элементы списка в строку*/
    font-size: 25px;
    padding: 3px 8px;
    text-align: center;
    width: 15%;
}

/* убираем подчеркивание у ссылок и меняем цвет*/

li a {
    color: #000;
    text-decoration: none;
}

/*задаем свойства элементам списка при наведении на них курсора*/

li:hover {
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    cursor: pointer;
}

/*создание выпадающего списка*/

.nav__ul_item {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);

    background: -o-radial-gradient(#f5f5f5, #dcdcdc);

    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    width: 25%;
}

.nav__ul_item li {
    width: 100%;
    text-align: left;
}

/*показывать меню при наведении курсора на родительский элемент*/

li:hover>.nav__ul_item {
    display: block;
}

/*задаем свойства основной части -контенту */

#index__content {
    background-image: url(../img/bg2.jpg);


}

/*слайдер*/

figure {
    margin: 0 auto;

}

img {
    height: auto;
    width: 90%;
    margin: 0 0 50px 5%;
}

/* задаем свойства всем абзацам*/

p {
    color: #fff;
    font-size: 22px;
    /*  font-style: italic;*/
    margin: auto;
    text-align: center;
    width: 80%;

}

.article_gradient {
    margin: 50px 0 50px 0;
    padding-top: 20px;
    display: flex;
    background: #f5f5f5;
    background: linear-gradient(to right, #D2691E 0%, #D2691E 14.2857143%, #f5f5f5 14.2857143%, #f5f5f5 28.5714286%, #dcdcdc 28.5714286%, #dcdcdc 42.8571429%, #d3d3d3 42.8571429%, #d3d3d3 57.1428572%, #c0c0c0 57.1428572%, #c0c0c0 71.4285715%, #a9a9a9 71.4285715%, #a9a9a9 85.7142858%, #808080 85.7142858%, #808080 100%);
}

section {
    color: #D2691E;
    /*-webkit-box-shadow: inset 0 0 20px #dcdcdc;
    box-shadow: inset 0 0 25px #dcdcdc;*/
    width: calc(100% / 7);
}

h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

section>p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    padding: 10px 0 20px;
}

.article__section_1 {
    margin-top: 32px;
}

.article__section_2:before,
.article__section_3:before,
.article__section_4:before,
.article__section_5:before,
.article__section_6:before,
.article__section_7:before {
    font-size: 50px;
    position: relative;
    left: 40%;
}

.article__section_2:before {
    content: "D";
    font-family: "untitled-font-1";
}

.article__section_3:before {
    content: "I";
    font-family: "untitled-font-1";
}

.article__section_4:before {
    content: "J";
    font-family: "untitled-font-1";
}

.article__section_5:before {
    content: "G";
    font-family: "untitled-font-1";
}

.article__section_6:before {
    content: "F";
    font-family: "untitled-font-1";
}

.article__section_7:before {
    content: "E";
    font-family: "untitled-font-1";
}

.carousel__title_center {
    font-size: 50px;
    text-align: center;
}

.carousel__button_left,
.carousel__button_right {
    font-size: 30px;
    background-color: rgba(169, 169, 169, .7);
    border-radius: 50%;
    color: #fff;
    top: 200px;
    position: relative;

}

.carousel__button_right {
    right: 0;
    top: 200px;
    position: relative;

}

.carousel__button_left:before {
    content: "a";
    font-family: "untitled-font-1";
}

.carousel__button_right:before {
    content: "v";
    font-family: "untitled-font-1";
}

figcaption {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    /*делаем полупрозрачным элемент при наведении курсора*/
    width: calc(88vw / 3);
    margin: -320px 0 0 20px;
    height: 300px;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 20px;

}

/*
.carousel__title:nth-of-type(1)::after,
.carousel__title:nth-of-type(2)::after {
    content: "B";
    font-family: "untitled-font-1";
    font-size: 50px;
}
*/

.carousel__item:hover figcaption {
    display: block;
}

/*.carousel {
    width: 30%;
    overflow: hidden;
}*/

.carousel__ul {
    width: 9999px;
    margin: auto;
    padding: 0;
}

.carousel__block {
    width: 100%;
    overflow: hidden;

}

.carousel__li {

    display: inline-block;
    padding: 0;
    width: 4.5%;

}

.carousel__img {
    width: 100%;
    height: 350px;
    border-top: 20px solid #f5f5f5;
    border-bottom: 20px solid #f5f5f5;
    border-left: 40px solid #f5f5f5;
    border-right: 40px solid #f5f5f5;
    display: inline-block;
    margin: 0;
}



/* задаем свойства форме */

form {
    display: inline-block;
    /*выравниваем по центру и задаем ширину равную шрине контента*/
    margin: 3em auto;
    text-align: center;
    width: 100%;

}

form>p {
    color: #ff8c00;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
}

input {
    background-color: #f5f5f5;
    font-size: 24px;
    margin: 12px 16px;

}

/* свойства кнопки "оформить" */

[type=submit] {
    background-color: #D2691E;
    border-color: #a0522d;
    color: #fff;
    font: 30px "Century Gothic", arial, sans-serif;
    padding: 2px 50px;
    text-transform: uppercase;

}

/* задаем свойства блокам (рассрочка, гарания, срок службы) */

/*добавляем после заголовка иконочное изображение*/

.article {
    display: flex;
    background: #f5f5f5;
    width: 100%;
    margin: auto;
}

.article__section2_1>h2:before {
    content: "p ";
    font-family: "untitled-font-1";
}

.article__section2_2>h2:before {
    content: "l ";
    font-family: "untitled-font-1";
}

.article__section2_3>h2:before {
    content: "i ";
    font-family: "untitled-font-1";
}

.article__section2_1>h2:before,
.article__section2_2>h2:before,
.article__section2_3>h2:before {
    color: #D2691E;
    font-size: 40px;
}

.article__section2_1,
.article__section2_2,
.article__section2_3 {
    width: calc(100% / 3);
    padding: 5px 0;
    box-shadow: none;
    border: 0px;
}

h2 {
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;

}

/* задаем свойства подвалу*/

footer {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);


    background: -o-radial-gradient(#f5f5f5, #dcdcdc);


    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    color: #000;
    font-family: "trebuchet ms", Helvetica, sans-serif;
    margin: auto;
    max-width: 1800px;
    padding: 0 40px 0 40px;
    width: calc(100% - 80px);

}


.footer__name_text {
    font-size: 20px;
    text-transform: capitalize;
}

.footer__number_text {
    font-size: 20px;
    margin: 10px 0;
}

#footer__mail {
    font-size: 17px;
    margin: 10px 0;
}

#footer__mail:before {
    font-family: "untitled-font-1";
    content: "f ";
}

@media screen and (max-width: 480px) {
    .header__number_text {
        float: none;
        font-size: 30px;
        transform: none;
        transition: none;
    }

    .nav__ul li {
        display: block;
        font-size: 20px;
        width: 100%;
        padding: 0;
    }
    .nav__ul li:hover .nav__ul_item {
        display: block;
    }

    .article__section_1,
    .article__section_2,
    .article__section_3,
    .article__section_4,
    .article__section_5,
    .article__section_6,
    .article__section_7 {
        display: block;
        width: 90%;
        margin-left: 5%;
    }
    .article__section_1 {
        background: #D2691E;
    }
    .article__section_2 {
        background: #f5f5f5;
    }
    .article__section_3 {
        background: #dcdcdc;
    }
    .article__section_4 {
        background: #d3d3d3;
    }
    .article__section_5 {
        background: #c0c0c0;
    }
    .article__section_6 {
        background: #a9a9a9;
    }
    .article__section_7 {
        background: #808080;
    }
    .article_gradient {
        background: none;
        display: flex;
        flex-direction: column;
    }
    .article {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .article__section2_1,
    .article__section2_2,
    .article__section2_3 {
        width: 100%;
    }

}
