body {
    margin: 0;
    /* убрать отступ браузера*/
}

.wrapper {
    max-width: 1500px;
    /*задаем максимальную ширину и выравниваем содержимое страницы по центру при отображении на больших экранах */
    margin: auto;
}

/*задаем свойства для шапки сайта */

.header {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    max-width: 1500px;
    padding: 0 20px 0 20px;
    width: calc(100% - 40px);
}

.name {
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font: 50px "Komoda", Arial, sans-serif;
}

span {
    color: #D2691E;
}

.number {
    float: right;
    font: 30px "trebuchet ms", Helvetica, sans-serif;
    margin: .3em 0 0 1em;
    -webkit-transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    /*добавляем анимирование номеру*/
    transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    -o-transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s, -webkit-transform 2s;
}

/*добавляем иконку "телефон"*/

.number:before {
    color: #D2691E;
    content: "e ";
    font-family: "untitled-font-1";

}

/*анимирование номера при наведении курсора на шапку сайта*/

.header:hover .number {
    font-size: 40px;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav {
    margin: auto;
    /*варавниваем меню по центру*/
    padding: 0;
    text-align: center;
}

li {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: inline-block;
    /*располагаем элементы списка в строку*/
    font-size: 25px;
    padding: 8px;
    text-align: center;
    width: 15%;
}

/* убираем подчеркивание у ссылок и меняем цвет*/

li a {
    color: #000;
    font-family: "Century Gothic", Arial, sans-serif;
    text-decoration: none;
}

/*задаем свойства элементам списка при наведении на них курсора*/

li:hover {
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    cursor: pointer;
}

/*создание выпадающего списка*/

.sub-menu {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);

    background: -o-radial-gradient(#f5f5f5, #dcdcdc);

    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    width: 25%;
}

.sub-menu li {
    width: 100%;
    text-align: left;
}

/*показывать меню при наведении курсора на родительский элемент*/

li:hover>.sub-menu {
    display: block;
}

/*задаем свойства основной части -контенту */

.content {
    background-image: url(../img/bg1.jpg);
    border-top: 3px solid #D2691E;
    margin-top: 0;

}

/*слайдер*/

.gallery img {
    height: auto;
    width: 80%;
    margin: 0 10%;
}

/* задаем свойства всем абзацам*/

p {
    color: #fff;
    font: 20px "Century Gothic", Helvetica, sans-serif;
    font-style: italic;
    margin: auto;
    text-align: center;
    width: 80%;

}

#sale img,
#new img {
    /*располагаем блоки в одну строку*/
    float: left;
    margin: 2% 0 0 13.3%;
    width: 30%;
}

#sale:hover img,
#new:hover img {
    opacity: 0.5;
    /*делаем полупрозрачным элемент при наведении курсора*/
}

/* задаем свойства форме */

form {
    display: inline-block;
    /*выравниваем по центру и задаем ширину равную шрине контента*/
    margin: 3em auto;
    text-align: center;
    width: 100%;

}

form>p {
    color: #ff8c00;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
}

input {
    background-color: #f5f5f5;
    font-size: 24px;
    margin: 8px 16px;

}

/* свойства кнопки "оформить" */

[type=submit] {
    background-color: #D2691E;
    border-color: #a0522d;
    color: #fff;
    font: 30px "trebuchet ms", arial, sans-serif;
    padding: 2px 50px;
    text-transform: uppercase;

}

/* задаем свойства блокам (рассрочка, гарания, срок службы) */

.content h1 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;

}

.content div:nth-of-type(4),
div:nth-of-type(6),
div:nth-of-type(5) {
    display: inline-block;
    font-family: "Century Gothic", Helvetica, arial, sans-serif;
    padding: 1em;
    text-align: center;
    width: 27%;
}

/* позиционируем блоки рассрока, гарантия, срок слуюбы */

.content div:nth-of-type(4) {
    float: left;
}

.content div:nth-of-type(5) {
    margin-left: 7%;
}

.content div:nth-of-type(6) {
    float: right;
}

/*добавляем инонку к каждому блоку*/

#pay:after {
    font-family: "untitled-font-1";
    content: "p";

}

#seal:after {
    font-family: "untitled-font-1";
    content: " l";

}

#service:after {
    font-family: "untitled-font-1";
    content: "i ";

}

/*задаем свойства иконкам */

#pay:after,
#seal:after,
#service:after {
    color: #D2691E;
    font-size: 120px;
    border-radius: 50%;
    background-color: #f5f5f5;
    opacity: 0.7;
}

/* убираем пустую строку между контентом и подвалом*/

#clear {
    clear: both;
}

/* задаем свойства подвалу*/

footer {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);


    background: -o-radial-gradient(#f5f5f5, #dcdcdc);


    background: radial-gradient(#f5f5f5, #dcdcdc);
    border-bottom: 10px solid #D2691E;
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    color: #000;
    font-family: "trebuchet ms", Helvetica, sans-serif;
    margin: auto;
    max-width: 1500px;
    padding: 0 20px 0 20px;
    width: calc(100% - 40px);

}

footer>.name {
    margin: 0;
}

#mail {
    font-size: 25px;
    margin: 5px 0;
}

#mail:before {
    font-family: "untitled-font-1";
    content: "f ";
}

/*убираем анимирование тел.номера при наведении курсора*/

footer>.number:hover {
    font-size: 30px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;


}



@media screen and (max-width: 480px) {
    .number {
        float: none;
        margin: 0;
    }
    .header:hover .number {
        transform: none;
        transition: none;
    }
    .content div p {
        width: 50%;

        margin-top: 18%;
    }
    .content div:nth-of-type(4),
    div:nth-of-type(6),
    div:nth-of-type(5) {
        display: block;
        width: 100%;
        text-align: left;
    }
    .content div:nth-of-type(5) {
        margin-left: 0;
    }
    #pay,
    #seal,
    #service {
        margin-left: 2%;
        width: 40%;
        float: left;

    }


}


@media screen and (max-width: 760px) {
    .name {
        margin-left: 1em;
    }
    .number {
        margin-right: 0;
    }
    .header:hover .number {
        transform: none;
        transition: none;
        font-size: 5vmin;
    }
    li {
        margin-left: 0;
        display: block;
        width: 40%;
        font-size: 3vmin;
    }
    ul.nav {
        margin-left: 0;
    }
    ul.sub-menu {
        margin-left: 36%;
        margin-top: -6.5vmin;
    }
    .sub-menu li {
        font-size: 3vmin;
    }
    p {
        margin: auto;
        font-size: 2.5vmin;
    }
    #sale img,
    #new img {
        display: block;
        width: 70%;
    }

    form {
        display: block;
        width: 50%;
        margin: 10em auto 1em;

    }

    .content div:nth-of-type(4),
    div:nth-of-type(6),
    div:nth-of-type(5) {
        padding: 0;
    }
    footer>.number {
        float: none;
        margin: 0;
    }
}


@media screen and (min-width: 1500px) {
    .name {
        font-size: 4vmin;
        margin-left: .1em;
    }
    .number {
        font-size: 2.5vmin;
        margin: .3em 0;
    }
    .header:hover .number {
        font-size: 3vmin;
        transform: translateX(-20px);
    }
    li,
    .sub-menu li {
        margin: auto;
        padding: .5vmin;
        font-size: 2vmin;
    }
    p {
        font-size: 2vmin;
    }
    .content h1 {
        font-size: 2vmin;
    }
    .content div:nth-of-type(4),
    div:nth-of-type(5),
    div:nth-of-type(6) {
        padding: 0;
        margin: .3em;

    }
    #mail {
        font-size: 2vmin;
        margin: .3em 0;
    }
    form>p {
        font-size: 2vmin;
        padding: .3em;
    }

    input {
        margin: 0 .5em;
        font-size: 2vmin;
    }

    .pay:after {
        font-size: 5vmin;
    }

    .seal:after {
        font-size: 5vmin;
    }

    .service:after {
        font-size: 5vmin;
    }



    form>p {
        font: 4vmin;


    }

    input {

        font-size: 2vmin;
        margin: .3vmin .6vmin;

    }
    [type=submit] {

        font-size: 3vmin;
        padding: .5vmin;

    }

    #pay:after,
    #seal:after,
    #service:after {
        font-size: 8vmin;


    }
    .content h1 {

        font-size: 2vmin;
    }


    footer {
        padding: 0 1vmin 0 1vmin;
        width: calc(100% - 2vmin);

    }

    footer>.name {
        margin: 0;
    }

    #mail {
        font-size: 2vmin;
        margin: 2vmin 0;
    }

    #mail:before {
        font-family: "untitled-font-1";
        content: "f ";
    }

}
