body {
    margin: 0;
    /* убрать отступ браузера*/
}

.wrapper {
    max-width: 1500px;
    /*задаем максимальную ширину и выравниваем содержимое страницы по центру при отображении на больших экранах */
    margin: auto;
}

/*задаем свойства для шапки сайта */

.header {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    max-width: 1500px;
    padding: 0 20px 0 20px;
    width: calc(100% - 40px);
}

.name {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 0 10px 30px;
    font: 50px "Komoda", Arial, sans-serif;
}

span {
    color: #D2691E;
}

.number {
    float: right;
    font: 30px "trebuchet ms", Helvetica, sans-serif;
    margin: .3em 0 0 1em;
    -webkit-transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    /*добавляем анимирование номеру*/
    transition: font-size 2s, margin-top 2s, -webkit-transform 2s;
    -o-transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s;
    transition: transform 2s, font-size 2s, margin-top 2s, -webkit-transform 2s;
}

/*добавляем иконку "телефон"*/

.number:before {
    color: #D2691E;
    content: "e ";
    font-family: "untitled-font-1";

}

/*анимирование номера при наведении курсора на шапку сайта*/

.header:hover .number {
    font-size: 40px;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav {
    margin: auto;
    /*варавниваем меню по центру*/
    padding: 0;
    text-align: center;
}

li {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);
    background: -o-radial-gradient(#f5f5f5, #dcdcdc);
    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: inline-block;
    /*располагаем элементы списка в строку*/
    font-size: 25px;
    padding: 8px;
    text-align: center;
    width: 15%;
}

/* убираем подчеркивание у ссылок и меняем цвет*/

li a {
    color: #000;
    font-family: "Century Gothic", Arial, sans-serif;
    text-decoration: none;
}

/*задаем свойства элементам списка при наведении на них курсора*/

li:hover {
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    box-shadow: inset 0 0 30px #dcdcdc, inset 0 0 20px #696969, inset 0 10px 1px #f5f5f5;
    cursor: pointer;
}

/*создание выпадающего списка*/

.sub-menu {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);

    background: -o-radial-gradient(#f5f5f5, #dcdcdc);

    background: radial-gradient(#f5f5f5, #dcdcdc);
    -webkit-box-shadow: inset 0 0 10px #d3d3d3;
    box-shadow: inset 0 0 10px #d3d3d3;
    display: none;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    width: 25%;
}

.sub-menu li {
    width: 100%;
    text-align: left;
}

/*показывать меню при наведении курсора на родительский элемент*/

li:hover>.sub-menu {
    display: block;
}

/*задаем свойства основной части -контенту */

.content {
    background-image: url(../img/bg1.jpg);
    border-top: 3px solid #D2691E;
    margin-top: 0;

}

/*слайдер*/

.gallery img {
    height: auto;
    width: 80%;
    margin: 0 10%;
}

/* задаем свойства всем абзацам*/

p {
    color: #fff;
    font: 20px "Century Gothic", Helvetica, sans-serif;
    font-style: italic;
    margin: auto;
    text-align: center;
    width: 80%;

}

#sale img,
#new img {
    /*располагаем блоки в одну строку*/
    float: left;
    margin: 2% 0 0 13.3%;
    width: 30%;
}

#sale:hover img,
#new:hover img {
    opacity: 0.5;
    /*делаем полупрозрачным элемент при наведении курсора*/
}

/* задаем свойства форме */

form {
    display: inline-block;
    /*выравниваем по центру и задаем ширину равную шрине контента*/
    margin: 3em auto;
    text-align: center;
    width: 100%;

}

form>p {
    color: #ff8c00;
    font-size: 30px;
    text-transform: uppercase;
    font-style: normal;
}

input {
    background-color: #f5f5f5;
    font-size: 24px;
    margin: 8px 16px;

}

/* свойства кнопки "оформить" */

[type=submit] {
    background-color: #D2691E;
    border-color: #a0522d;
    color: #fff;
    font: 30px "trebuchet ms", arial, sans-serif;
    padding: 2px 50px;
    text-transform: uppercase;

}

/* задаем свойства блокам (рассрочка, гарания, срок службы) */

.content h1 {
    color: #fff;
    font: 24px "trebuchet ms", arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/*добавляем после заголовка иконочное изображение*/

#pay div:after {
    content: " p";
    font-family: "untitled-font-1";
}

#seal div:after {
    content: " l";
    font-family: "untitled-font-1";
}

#service div:after {
    content: " i";
    font-family: "untitled-font-1";
}

#pay,
#seal,
#service {
    width: 33.3%;
    float: left;
}

#pay div:after,
#seal div:after,
#service div:after {
    font-size: 100px;
    color: #d2691e;
    opacity: 0.7;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-left: 40%;
}

/* убираем пустую строку между контентом и подвалом*/

#clear {
    clear: both;
}

/* задаем свойства подвалу*/

footer {
    background-color: #f5f5f5;
    /*указываем сплошной цвет для IE9 */
    background: -webkit-radial-gradient(#f5f5f5, #dcdcdc);


    background: -o-radial-gradient(#f5f5f5, #dcdcdc);


    background: radial-gradient(#f5f5f5, #dcdcdc);
    border-bottom: 10px solid #D2691E;
    -webkit-box-shadow: inset 0 0 50px #c0c0c0;
    box-shadow: inset 0 0 50px #c0c0c0;
    color: #000;
    font-family: "trebuchet ms", Helvetica, sans-serif;
    margin: auto;
    max-width: 1500px;
    padding: 0 40px 0 40px;
    width: calc(100% - 80px);

}

footer>.name {
    margin: 0;
}

#mail {
    font-size: 25px;
    margin: 10px 0;
}

#mail:before {
    font-family: "untitled-font-1";
    content: "f ";
}

/*убираем анимирование тел.номера при наведении курсора*/

footer>.number:hover {
    font-size: 30px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;


}


/*создаем медиаусловие с максимальной шириной 480px */

@media screen and (max-width: 480px) {
    .name {
        font-size: 40px;
    }
    .number {
        float: none;
        margin: 0;
        font-size: 20px;
    }
    .header:hover .number {
        transform: none;
        transition: none;
        font-size: 20px;
    }
    .content div p {
        width: 50%;
        margin-top: 18%;
    }

    form {
        display: block;
        width: 100%;
        margin: 1em auto 1em;

    }

    form>p {
        font-size: 20px;
        margin: 0;
        width: 100%
    }
    input {
        font-size: 18px;
        margin: 5px 0;

    }
    #pay,
    #seal,
    #service {
        width: 100%;
        float: none;
    }

    #pay p,
    #seal p,
    #service p {
        font-size: 20px;
        text-align: left;
        margin: 0 10px 10px 20px;

    }
}

/*создаем медиазапрос с медиаусловием максимальная ширина 760px */

@media screen and (max-width: 760px) {
    .name {
        margin-left: 1em;
        font-size: 40px;
    }
    .number {
        margin: 20px 0;
        font-size: 20px;
    }
    .header:hover .number {
        transform: none;
        transition: none;
        font-size: 20px;
    }
    li {
        margin-left: 0;
        display: block;
        width: 40%;
        font-size: 20px;
    }
    ul.nav {
        margin-left: 0;
    }
    ul.sub-menu {
        margin-left: 36%;
        margin-top: 0;
    }
    .sub-menu li {
        font-size: 20px;
    }
    p {
        margin: auto;
        font-size: 20px;
    }
    #sale img,
    #new img {
        display: block;
        width: 70%;
    }

    form {
        display: block;
        width: 50%;
        margin: 2em auto 1em;

    }
    #pay,
    #seal,
    #service {
        width: 100%;
        float: none;
    }

    #pay p,
    #seal p,
    #service p {
        font-size: 20px;
        text-align: left;
        width: 100%;
        margin: 0 10px 10px 20px;

    }
    #service p {
        margin-bottom: 0;
    }

    #mail {
        font-size: 20px;
    }
}

/*создаем медиаусловие с максимальной шириной 1500px */

@media screen and (min-width: 1500px) {
    .name {
        font-size: 80px;
        margin-left: .1em;
    }
    .number {
        font-size: 50px;
        margin: .3em 0;
    }
    .header:hover .number {
        font-size: 60px;
        transform: translateX(-20px);
    }
    li,
    .sub-menu li {
        margin: auto;
        padding: 8px;
        font-size: 30px;
    }
    p {
        font-size: 30px;
    }
    .content h1 {
        font-size: 40px;
    }



    #mail {
        font-size: 20px;
        margin: .3em 0;
    }
    form>p {
        font-size: 40px;
        padding: .3em;
    }

    input {
        font-size: 20px;
        margin: 0 .5em;
    }
    .content h1 {

        font-size: 2vmin;
    }
    footer {
        padding: 0 30px 0 30px;
        width: calc(100% - 60px);
    }

    #mail {
        font-size: 30px;
    }
}